body {
    background-color: #dcdcdc;
}
header {
    background-color: white;
    height: 50px;
    padding: 10px 10px;
    margin: 20px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        margin: 0px 10px;
    }
    .header-links {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        a {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;
            color: black;
            text-decoration: none;
            margin: 0px 20px;
            transition: padding 1s, background-color 1s;
        }

        a:hover {
            cursor: pointer;
            background-color: gainsboro;
            border-radius: 5px;
            padding: 0px 15px;
        }
    }

    .header-profile {
        padding-right: 15px;
        img {
            vertical-align: middle;
            width: 25px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}

.navbar-responsive {
    background-color: white;
    padding: 10px 10px;
    margin: 20px 10px;
    border-radius: 15px;
    display: none;
    align-items: center;
    flex-direction: column;

    a {
        margin: 5px 0px !important;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: black;
        text-decoration: none;
        margin: 0px 20px;
        transition: padding 1s, background-color 1s;
    }

    hr {
        width: 90%;
        border-width: 0.5px;
    }
}

.image-carousel {
    background-color: white;
    padding: 10px 10px;
    margin: 20px 10px;
    border-radius: 15px;
    text-align: center;
    img {
        width: 85vw;
        margin: 30px 0px;
        border-radius: 15px;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    }
}
.container {
    .container-main {
        padding: 10px 10px;
        margin: 20px 10px;
        background-color: white;
        border-radius: 15px;

        .product-header {
            height: 30px;
            padding: 10px 10px;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .header-title {
                font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                font-size: 15pt;
            }

            .header-action {
                .search-bar {
                    padding: 5px 5px 5px 10px;
                    margin-right: 15px;
                    border-radius: 15px;
                    border-width: 0.5px;
                    background-color: rgba(220, 220, 220, 0.3);
                    transition: all 500ms;
                }

                .search-bar:focus {
                    border-width: 5px;
                }
                .add-button {
                    margin-left: 15px;
                    padding: 5px 20px;
                    border-radius: 15px;
                    border-width: 0.5px;
                }
            }
        }

        .product-content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .product-item {
                position: relative;
                width: 250px;
                height: 400px;
                display: inline-block;
                text-align: center;
                padding: 10px 20px;
                margin: 20px;
                border: 0.5px solid;
                border-radius: 10px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                img {
                    border-radius: 10px;
                    width: 250px;
                    mix-blend-mode: multiply;
                }

                .item-price {
                    text-align: center;
                    font-family: "Courier New", Courier, monospace;
                    font-weight: bolder;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    .item-stock {
                    }

                    .item-sold {
                    }
                }

                transition: all 500ms ease-out;
            }

            .product-item:hover {
                background-color: #dcdcdc66;
                cursor: pointer;
                transform: translate(0px, -10px);
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 30px;
    margin: 20px 10px;
    background-color: white;
    border-radius: 15px;
    > * {
        width: 300px;
        display: inline-block;
    }

    div .footer-wid-title {
        font-family: "Times New Roman", Times, serif;
    }

    .footer-about-us {
        p {
            text-align: justify;
        }
    }

    .footer-menu {
        ul {
            padding-left: 0px;
            list-style: none;
            li {
                margin-bottom: 7px;
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .footer-newsletter {
    }
}

@media only screen and (max-width: 880px) {
    .header-links {
        font-size: 0.8em;
    }
    .header-profile {
        span {
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 800px) {
    .header-links {
        display: none !important;
    }
    .navbar-responsive {
        display: flex;
    }
}

@media only screen and (max-width: 400px) {
    .product-item {
        height: min-content !important;
        img {
            max-width: 100%;
        }
    }
}
